body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mg-top-16 {
  margin-top: 16px;
}

.mg-right-32 {
  margin-right: 32px;
}

.full-page {
  height: calc(100vh - 56px);
}

.main-pizza {
  margin-top: 100px;
}

.si-box-mg {
  margin-top: 72px;
}

.si-box {
  border-radius: 16px;
  box-sizing: border-box;
  padding: 4px;
  height: 38px;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.pa {
  position: absolute;
  background-color: rgba(152, 72, 72, 0.46);
}

.si-box-item {
  padding: 4px;
  margin: 0 4px;
  border: 2px solid transparent;

  border-radius: 50%;
  transition: all 0.47s;
}

.si-box-item:hover {
  border: 2px solid #eabc4c;
}

.react-tooltip-lite {
  background: #333;
  color: white;
  border-radius: 8px;
}

.react-tooltip-lite-arrow {
  border-color: #333;
}

.main-box {
  margin-top: 36px;
  margin-bottom: 56px;
  height: 142px;
}

.main-item {
  width: 132px;
  border-radius: 16px;
  overflow: hidden;
  height: 102px;
  transition: all 0.7s;
  border: 2px solid transparent;
}

.main-item:hover {
  height: 142px;
  border: 2px solid #eabc4c;
}

.s-active {
  height: 142px;
  border: 2px solid greenyellow;
}
.s-active .main-item-text {
  opacity: 1;
  transform: translate(0px, 0px);
}

.s-active .main-item-img {
  opacity: 1;
  transform: translate(0px, 0px);
}

.main-item-text {
  padding: 14px;
}

.main-item-img {
  padding: 7px 14px 21px 14px;
}

.mx36 {
  margin-left: 18px !important;
}

.mx36 {
  margin-right: 18px !important;
}

.main-item-text {
  height: 26px;
  font-size: 18px;
  font-weight: 700;
  opacity: 0;
  transition: transform 0.44s 0.2s ease-out, opacity 0.44s 0s ease-out;
}

.main-item-img {
  height: 74px;
  transform: translate(0px, -17px);
  transition: all 0.64s ease;
}

.main-item:hover .main-item-text {
  opacity: 1;
  transform: translate(0px, 0px);
}
.main-item:hover .main-item-img {
  opacity: 1;
  transform: translate(0px, 0px);
}

/* 
select animation
 */
.alert-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
  transform: translateX(0px);
}
.alert-exit-active {
  opacity: 0;
  position: absolute;

  /* transform: translateY(40px); */
  transition: opacity 300ms, transform 300ms;
}

.move-enter {
  opacity: 0.01;

  /* transform: translate(-40px, 0); */
}

.move-enter-active {
  opacity: 1;

  /* transform: translate(0, 0); */
  transition: all 500ms ease-in;
}

.move-exit {
  opacity: 1;
  /* transform: translate(0, 0); */
}

.move-exit-active {
  opacity: 0.01;
  /* transform: translate(40px, 0); */
  transition: all 500ms ease-in;
}
